<ion-list lines="none">
  <ion-item>
    <h2>Figura Geometrica - Triangulo Equilatero</h2>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Triángulo</ion-card-title>
      <ion-card-subtitle>Perímetro</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>El perímetro de un triángulo es la suma de las longitudes de sus tres lado. En otras palabras, es la medida total del contorno o borde del triangulo</p>
      <img src="../../assets/images/trianguloEscaleno.png" alt="Diagrama de un triangulo" class="triangle-image">
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-input [(ngModel)]="calcularPerimetroStr" type="number" label="Calcular Perimetro" label-placement="floating" fill="outline" placeholder="Ingrese diametro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="calcularPerimetro()">Calcular Perimetro</ion-button>
  </ion-item>
  <ion-item>
    {{resultado}}
  </ion-item>
</ion-list>