<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen Viviana Mardones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-select (ionChange)="selecioneFigura($event)" label="Tipo de Figura Geometrica" placeholder="Elija una figura Geometrica">
    <ion-select-option value="circulo">Circulo</ion-select-option>
    <ion-select-option value="escaleno">Triangulo - Escaleno</ion-select-option>
    <ion-select-option value="equilatero">Triangulo - Equilatero</ion-select-option>
  </ion-select>

  <app-circulo *ngIf="esCirculo()" />
  <app-escaleno *ngIf="esEscaleno()" />
  <app-equilatero *ngIf="esEquilatero()" />
</ion-content>